.details{
  display: flex;
  justify-content: space-around;
}

.round{
  display: flex;
  justify-content: space-around;
}

.heading{
  text-align: center;
}

.App{
  padding: 3%;
  max-width: 700px;
  margin-left: 10%;
  background-color: azure;
}